.weather-wrap {
  display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	overflow: hidden;
	border: 3px solid #fff;
  margin-bottom: 0.5rem;
	box-shadow: 0 8px 10px -4px rgba(#000, 0.2);
	transform-origin: center center;
	transition: 0.15s ease;
	&:hover,
	&:focus {
		transform: translatey(-4px);
		box-shadow: 0 12px 14px -4px rgba(#000, 0.3);
	}
}

.wrap-icon {
  text-align: center;
}

.icon-container {
  height: 100%;
}

p {
  color: var(--c-gray-600);
  margin: 0;
}

@media (max-width: 500px) {
  .smartphone h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .mainicon {
    height: 5rem;
  }
  .wrap-icon {
    margin: 0 30px; 
    padding: 0.5rem;
  }
  .icon-container img{
    height: 2.5rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
  .mainicon {
    height: 7rem;
  }
  .wrap-icon {
    margin: 0 40px; 
    padding: 15px;
  }
  .icon-container img{
    height: 50px;
  }
}

@media (min-width: 769px){
  .normal h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.75rem;
  }
  .mainicon {
    height: 10rem;
  }
  .wrap-icon {
    margin: 0 50px; 
    padding: 20px;
  }
  .icon-container img{
    height: 70px;
  }
}

