.mainicon {
  height: 100px;
}

.weather-wrap {
  display: flex;
  justify-content: center; /* Horizontally center the child elements */
  align-items: center; /* Vertically center the child elements */
}

.wrap-icon {
  text-align: center;
  margin: 0 30px; 
  padding: 20px;
}

.icon-container {
  height: 80px;
}