.recommendation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}
.recommendation-section p {
  font-size: 1.125rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.jacket-icon {
  height: 100%;
}

.card {
	transform: rotate(var(--rotation));
	transition: 0.15s ease-out;

	&:hover,
	&:focus-within {
		transform: translateY(4px) rotate(var(--rotation));

		.card-inner {
			background-color: var(--c-gray-100);
		}
		.card-pin:after {
			height: 54px;
		}
		.card-pin:before {
			transform: translatey(-4px);
		}
	}
}

.card-inner {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--c-gray-900);
	border-radius: 20px;
	padding: 0.5rem;
	background-color: #fff;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 47.5%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-900);
		background-color: var(--c-yellow-300);
	}
}

.card-pin {
	width: 12px;
	height: 12px;
	background-color: var(--c-gray-900);
	position: absolute;
	top: 20px;
	left: calc(50% - 6px);
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--c-gray-900);
	transform: rotate(3deg);
	z-index: 1;
	&:before,
	&:after {
		content: "";
		display: block;
		border-radius: 50%;
		position: absolute;
		transition: 0.15s ease-out;
	}

	&:before {
		width: 12px;
		height: 12px;
		background-color: var(--c-gray-900);
		border-radius: 50%;
		left: calc(50% - 6px);
		top: -44px;
	}

	&:after {
		width: 6px;
		background-color: #fff;
		border: 1px solid;
		border-radius: 99em;
		height: 50px;
		left: calc(50% - 3px);
		bottom: 3px;
	}
	
}


@media (max-width: 500px) {
  .smartphone .recommendation-section p {
    font-size: 24px; 
  }
  .card {
    max-width: 65%;
  }
	.card-pin {
		width: 6px;
		height: 6px;
		&:before {
			width: 11px;
		}
		&::after {
			width: 4px;
			height: 40px;
		}
	}
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet .recommendation-section p {
    font-size: 28px;
  }
  .card {
    max-width: 70%;
  }
}

@media (min-width: 769px){
  .normal .recommendation-section p {
    font-size: 32px; 
  }
  .card{
    max-width: 80%;
  }
}