.alert-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.alert-content {
  align-items: center;
}

@media (max-width: 500px) {
  .smartphone
  .alert-content {
    width: 360px;
  }
  .alert-content h3 {
    font-size: 16px;
  }
  .alert-content p {
    font-size: 14px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet
  .alert-content {
    width: 500px;
  }
  .alert-content h3 {
    font-size: 18px;
  }
  .alert-content p {
    font-size: 15px;
  }
}
@media (min-width: 769px){
  .normal  
  .alert-content {
    width: 650px;
  }
  .alert-content h3{
    font-size: 20px;
  }
  .alert-content p {
    font-size: 16px;
  }
}