h1 {
  text-align: center;
}

.mainicon {
  height: 100px;
}

.weather-wrap {
  display: flex;
  justify-content: center; /* Horizontally center the child elements */
  align-items: center; /* Vertically center the child elements */
}

.wrap-icon {
  text-align: center; /* Center the contents horizontally */
  margin: 0 30px; /* Add some margin between the icons */
  padding: 20px;
}

.icon-container {
  height: 80px;
}

.forecast-weather {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* Center the content vertically */
}

/* Style each forecast card */
.forecast-card {
  text-align: center;
}

.forecast-card img {
  max-width: 100px; /* Limit the image width */
}

.forecast-card p {
  margin: 8px 0; /* Add some vertical spacing between elements */
}
