h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.weather-section {
  width: 100%;
  box-sizing: border-box; 
}

.footer-content {
  position: absolute; /* Change to absolute positioning */
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-card {
  text-align: center; /* Center the contents horizontally */
  margin: 0 30px; /* Add some margin between the icons */
  padding: 20px;
}

.icon-footer {
  height: 10px;
}
