.homepage {
  padding: 2rem;
}

.app-header {
  display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 1fr 2fr 1fr;
}

.logo img {
  max-height: 50px; 
  border-radius: 50%;
	border: 2px solid var(--c-gray-500);
}

.alert-icon img {
  max-height: 30px; 
}

.alert-icon {
  display: flex;
	align-items: center;
	justify-content: flex-end;
}

.aleart-btn {
  padding: 0;
	border: 0;
	background-color: transparent;
	margin-right: 1rem;
	position: relative;
	transform-origin: center center;
	transition: 0.15s ease;
	cursor: pointer;
	&:hover,
	&:focus {
		transform: rotate(15deg);
  }
}

h1 {
  line-height: 1.1;
  font-size: 1.25rem;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.weather-section {
  width: 100%;
  box-sizing: border-box; 
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-card {
  text-align: center;
}


