.location-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wraptop-today {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  margin-top: 0;
  padding: 0px;
}

.wraptop-today h2 { 
  text-align: start;
  flex-grow: 1;
}

.plus-icon {
  margin-right: 10px;
}

.info-location {
  display: flex;
  flex-direction: column;
}

.location-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  padding-left: 10px;
}

.location-card p {
  text-align: center; 
  flex-grow: 1; /* Allow the p tag to take up all available space between icons */
}

.trash-icon {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .smartphone .location-section {
    width: 400px;
  }
  h2 {
    font-size: 20px;
  }
  .location-card p {
    font-size: 16px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet .location-section {
    width: 600px;
  }
  h2 {
    font-size: 25px;
  }
  .location-card p {
    font-size: 17px;
  }
}
@media (min-width: 769px){
  .normal .location-section {
    width: 800px;
  }
  h2 {
    font-size: 30px;
  }
  .location-card p {
    font-size: 18px;
  }
}