.search-section {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
}

.wraptop-today {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #d3d3d3;
  margin-top: 0;
  padding: 0px;
}

.back-icon img {
  width: 40px;
  margin-right: 20px;
  margin-left: 10px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-box {
  flex: 1;
  padding: 5px;
}

.search-box input{
  width: 100%;
  padding: 5px;
}

.search-result ul {
  list-style: none;
  padding-left: 0;
}

.search-result li {
  text-align: left;
  border-bottom: solid 1px black;
  padding: 10px;
}