.search-section {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
}

.wraptop-today {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #d3d3d3;
  margin-top: 0;
  padding: 0px;
}

.back-icon img {
  width: 40px;
  margin-right: 20px;
  margin-left: 10px;
}