.search-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.wraptop-today {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #d3d3d3;
  margin-top: 0;
  padding: 0px;
}

.back-icon img {
  margin-right: 20px;
  margin-left: 10px;
}

.search-box {
  position: relative;
	z-index: 1;
	transition: 0.15s ease;
	&:hover,
	&:focus-within {
		transform: translatey(-2px);
	}
}

.search-inner {
	display: flex;
	align-items: center;
	border: 2px solid var(--c-gray-600);
	border-radius: 15px;
	height: 60px;
	font-size: 1rem;
	width: 100%;
	background-color: #fff;
	position: relative;
	margin-top: 2rem;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 96%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 48%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-600);
		background-color: var(--c-gray-100);
		transition: 0.15s ease;
	}

	&:hover,
	&:focus-within {
		input::placeholder {
			color: #787878;
		}
		&:after {
			transform: translatey(2px);
		}
	}
}

.search-icon {
  display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px 0 0 15px;
	border: 0;
	background-color: var(--c-gray-100);
	position: relative;
	height: 100%;
	border-right: 2px solid var(--c-gray-600);
	width: 70px;
	transition: 0.15s ease;
	cursor: pointer;
	&:focus,
	&:hover {
		background-color: var(--c-yellow-300);
		outline: 0;
	}
}


.search-input {
  border: 0;
	border-radius: 0 15px 15px 0;
	height: 100%;
	background-color: #fff;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	&:focus {
		outline: 0;
	}
	&::placeholder {
		font-weight: 600;
		color: var(--c-gray-900);
		transition: 0.15s ease;
	}
}

.search-result ul {
  list-style: none;
  padding-left: 0;
}

.search-result li {
  text-align: left;
  border-bottom: solid 1px black;
  padding: 10px;
}

.search-result li:hover {
  background-color: #F5CCCC;
  cursor: pointer;
}

@media (max-width: 500px) {
  .smartphone .wraptop-today {
    width: 400px;
  }
  .wraptop-today h2{
    font-size: 20px;
  }
  .back-icon img, .search-icon img {
    width: 20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .search-result li {
    font-size: 16px;
  }
  input {
    font-size: 14px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet .wraptop-today {
    width: 600px;
  }
  .wraptop-today h2{
    font-size: 25px;
  }
  .back-icon img, .search-icon img {
    width: 30px;
    margin-right: 15px;
    margin-left: 10px;
  }
  .search-result li {
    font-size: 18px;
  }
  input {
    font-size: 15px;
  }
}
@media (min-width: 769px){
  .normal .wraptop-today {
    width: 800px;
  }
  .wraptop-today h2{
    font-size: 30px;
  }
  .back-icon img, .search-icon img{
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
  }
  .search-result li{
    font-size: 20px;
  }
  input {
    font-size: 16px;
  }
}