.today-section {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
}

.wraptop-today {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #d3d3d3;
  margin-top: 0;
  padding: 0px;
}

.home-icon img {
  width: 40px;
  margin-right: 20px;
  margin-left: 10px;
}

.today-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.astro-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.info-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  padding-top: 20px;
}

.info-icon {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}