.today-section {
  display: flex;
  flex-direction: column;
}

.wraptop-today {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.today-content {
  
}

.home-icon img {
  width: 40px;
  margin-right: 10px;
}

.today-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  border: 1px black solid;
}

.wrap-date {
  
}