* {
  box-sizing: border-box;
}

.home-icon img {
  width: 40px;
}

.wraptop-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #d3d3d3;
}

.wraptop-today h2 { 
  text-align: start;
  flex-grow: 1;
}

@media (max-width: 500px) {
  .smartphone .wraptop-today {
    width: 360px;
  }
  .wraptop-today h2{
    font-size: 20px;
  }
  .home-icon img {
    margin-right: 10px;
    margin-left: 5px;
  }
  .footer-card h4 {
      font-size: 16px;
  }
  .footer-card {
    margin: 0 20px;
    padding: 10px;
  }
  .icon-footer {
    height: 10px;
    margin-top: 10px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tablet .wraptop-today {
    width: 500px;
  }
  .wraptop-today h2{
    font-size: 25px;
  }
  .home-icon img  {
    margin-right: 15px;
    margin-left: 10px;
  }
 
  .footer-card h4 {
    font-size: 18px;
  }
  .footer-card {
    margin: 0 30px;
    padding: 20px;
  }
  .icon-footer {
    height: 10px;
    margin-top: 15px;
  }
}

@media (min-width: 769px){
  .normal .wraptop-today {
    width: 650px;
  }
  .wraptop-today h2{
    font-size: 30px;
  }
  .home-icon img {
    margin-right: 20px;
    margin-left: 10px;
  }
  .footer-card h4 {
    font-size: 20px;
  }
  .footer-card {
    margin: 0 40px;
    padding: 30px;
  }
  .icon-footer {
    height: 15px;
    margin-top: 20px;
  }
  
}
