:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e2dbdb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --c-gray-100: #fbf8f2;
  --c-gray-500: #bcbcc2;
	--c-gray-600: #5f5f5f;
	--c-gray-900: #1d1d1d;
	--c-green-300: #bad5ca;
	--c-yellow-300: #f8e0b1;
	--c-yellow-500: #f9bc73;
  --rotation: -3deg;
}

body {
  background-image: url('/background.webp');
}

body, .global {
  margin: 0;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Urbanist', sans-serif;
  line-height: 1.5;
  padding-top: 1vw;
  padding-bottom: 1vw;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.code {
  font-family:'Courier New', Courier, monospace;
  white-space: pre-wrap;
  text-align: left;
}

.type {
  font-weight: bold;
  color: #ffffff
}

input,
button {
	font: inherit;
}